/hold/
/log/
/tmp/
*.backup
*.old
/.sass-cache/
lib/applets/.sass-cache/
public/assets/*.*
public/js/ag-enterprise-activation.js
public/tempfiles/*
.dm_report_list.yml
*.zip

# Used by dotenv library to load environment variables.
.env.local

## Rubymine
.idea/
.rake_tasks~

## Vim
tags
.srclist
.smartgf*

# Assets plugin metadata file
prestyle.css

# Client-specific config.
config/mail_settings.rb
config/dataminer_connections.yml
config/export_data_config.yml
prepared_reports/*.yml
/app_reports/
/sys_prepared_reports/
/app_prepared_reports/
