/.sass-cache/
public/js/ag-enterprise-activation.js
public/tempfiles/*
public/assets/*.*
.dm_report_list.yml
log/*
hold/*
*.zip

# Used by dotenv library to load environment variables.
.env.local

## Rubymine
.idea/
.rake_tasks~

## Vim
tags
.srclist
.smartgf*

# Assets plugin metadata file
prestyle.css
